[submodule "output"]
	path = output
	url = https://github.com/chihhunglin/chihhunglin.github.io.git
[submodule "themes/pelican-bootstrap3"]
	path = themes/pelican-bootstrap3
	url = https://github.com/chihhunglin/pelican-bootstrap3.git
